#pane {
    -fx-background-image: url('/images/ukulele.jpg');
    -fx-background-color: green;
    /*-fx-background-repeat: no-repeat;*/
    -fx-background-size: 200 150;
    -fx-background-position: center center;
}

#secondaryButton {
    -fx-background-color: red;
}